- var rowClass = viewModel.commandQueue.isRunning ? "success" : "warning"
- if (viewModel.portState.isOpen == false) { rowClass = "danger"}
//p=JSON.stringify(viewModel)
table.table.table-condensed
  tbody
    each command, index in viewModel.commandQueue.commandQueue
      if (index == 0)
        tr(id=command.id, class=rowClass)
          th= index + 1
          td= command.msg
      else
        tr(id=command.id)
          th= index + 1
          td= command.msg
